body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 200px;
}

/*NAVBAR START*/
.navbar {
  
    width: 100%;
    display: grid;
    grid-template-columns: 180px auto 200px;
    grid-column: 1 / -1;
    background-color: rgba(45,45,45,0.98);
    color: white;
    font-size: 14px;
    
}

.navbar .menu {
    margin-left: 70px;
}

.navbar .menu a {
    margin-right: 70px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    line-height: 3.14;
}

.navbar .icons i {
    margin-right: 70px;
}



/*NAVBAR ENDS*/
.content {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-rows: 220px 600px;
}


.background-wrapper {
text-align: center;
background-color: #fafafa;
margin-top: 15px;
}

.text-info p {
    font-size: 22px;
}

.text-info p span {
    font-size: 20px;
    margin-right: 25px;
}

.text-info p span a {
    color: #0070c9;
    text-decoration: none;
}


.text-info p span a:hover {
    text-decoration: underline;
}

.grid-col {
    display: grid;
}


.iphone-xr .text-info h1  {
    background-image: url('https://www.apple.com/v/home/ed/images/logos/dark-iphone_xr_logo_hero__f8r05iokxoi2_large.png');
    background-size: 209px 33px;
    background-repeat: no-repeat;
    background-position: center;
}

.iphone-background figure {
    width: 622px;
    height: 352px;;
    background-image: url('https://www.apple.com/v/home/ed/images/heroes/spring-iphone-xr/iphone_xr__b0z59ak0bqdy_large.jpg');
    background-size: 622px 352px;
    background-position: center;
}

.footer {

}

/*TOOLS ALIGNMENT AND POSITIONING*/

.element-end {
    justify-self: end;
}

.element-center {
    justify-self: center;
}

.element-start {
    justify-self: start;
}

.align-item {
    align-self: center;
}